IOT_PROJECT_10684602_10698168/node-RED project.txt
[{"id":"62f48134.f3af9","type":"tab","label":"send to thingspeak","disabled":false,"info":""},{"id":"2c1aa310.65463c","type":"tcp in","z":"62f48134.f3af9","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":120,"y":260,"wires":[["7245c9db.1cc578"]]},{"id":"9dd12280.a2387","type":"debug","z":"62f48134.f3af9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":140,"wires":[]},{"id":"be1a964d.6ec3f","type":"mqtt out","z":"62f48134.f3af9","name":"","topic":"","qos":"1","retain":"","broker":"d3fa694e.2660b","x":570,"y":340,"wires":[]},{"id":"7245c9db.1cc578","type":"function","z":"62f48134.f3af9","name":"parse message","func":"var msg_parts = (msg.payload).split(' ');\n\nvar check_payload_string = msg_parts[0];\nvar topic = msg_parts[8];\nvar payload = msg_parts[11];\n\n// to check if the current message is a payload message\n// only the publish message start with the word \"publish\"\nif(check_payload_string != \"publish\"){\n    return;\n}else{\n    // set the topic\n    if(topic == \"0\"){\n        payload_string = \"field1=\";\n    }else if(topic == \"1\"){\n        payload_string = \"field2=\";\n    }else if(topic == \"2\"){\n        payload_string = \"field3=\";\n    }\n    \n    // concatenate the payload\n    payload_string += payload;\n    \n    // concatenate the status\n    payload_string += \"&status=MQTTPUBLISH\";\n    \n    // set the tpoic\n    msg.topic = \"channels/2224975/publish\";\n    \n    msg.payload = payload_string;\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["875ad1e4.7947b8"]]},{"id":"875ad1e4.7947b8","type":"delay","z":"62f48134.f3af9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":340,"wires":[["be1a964d.6ec3f","9dd12280.a2387"]]},{"id":"d3fa694e.2660b","type":"mqtt-broker","z":"","name":"Thingspeak","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"PBQhMxoqFhsZHDMUOyslEww","usetls":false,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]