IOT-CHALLENGE2/challenge2.txt
[{"id":"81db9ec4.75f3f","type":"tab","label":"challenge2","disabled":false,"info":""},{"id":"be996e94.caccb","type":"file in","z":"81db9ec4.75f3f","name":"read csv file","filename":"/home/user/challenge2023_2.csv","format":"utf8","chunk":false,"sendError":false,"x":540,"y":140,"wires":[["1274c201.3456de"]]},{"id":"78401563.f1cb4c","type":"function","z":"81db9ec4.75f3f","name":"filter publish msg","func":"//var id = parseInt(msg.payload);\nvar id = global.get(\"id\");\nmsg = (global.get(\"file\"))[id];\nif(msg.Protocol==\"MQTT\" && msg.Info.includes(\"Publish Message\")){\n    if(msg.Message === null)\n        msg.payload = \"\";\n    else\n        msg.payload = msg.Message;\n        \n    msg.topic =  \"/polimi/iot2023/challenge2/10684602\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":490,"y":360,"wires":[["b7fb824e.fdd83"]]},{"id":"b7fb824e.fdd83","type":"split","z":"81db9ec4.75f3f","name":"split multiple messages","splt":"},{","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":160,"y":420,"wires":[["ba06125c.fd5398"]]},{"id":"9b6ecf07.b72918","type":"function","z":"81db9ec4.75f3f","name":"parse id","func":"var person_id = 4602;\nvar START_flag = global.get(\"START\");\nif(msg.payload !== \"\" && START_flag === true){\n    //computer the correct id\n    var gen_id = JSON.parse(msg.payload).id;\n    //msg.payload = (gen_id + person_id)%7711;\n    global.set(\"id\", (gen_id + person_id)%7711);\n    \n    //increment the counter\n    var counter = global.get(\"counter\");\n    if(counter === null)\n        counter = 0;\n    counter = counter+1;\n    global.set(\"counter\", counter);\n    \n    if(counter <= 100)\n        return msg;\n    else{\n        global.set(\"START\", false);\n        msg.payload = \"END\";\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":300,"y":360,"wires":[["78401563.f1cb4c","26b73269.fef72e"]]},{"id":"81188b7e.d3bd6","type":"mqtt out","z":"81db9ec4.75f3f","name":"publish","topic":"/polimi/iot2023/challenge2/10684602","qos":"2","retain":"","broker":"2d206e54.5e71ea","x":660,"y":420,"wires":[]},{"id":"ba06125c.fd5398","type":"function","z":"81db9ec4.75f3f","name":"create publish message","func":"var CURRENT_TIMESTAMP = Date.now();\nvar PREVIOUS_ID = global.get(\"id\");\nvar MQTT_PUBLISH_PAYLOAD = msg.payload;\n\nmsg.payload = '{\"timestamp\":\"' + CURRENT_TIMESTAMP\n             + '\",\"id\":\"'        + PREVIOUS_ID\n             + '\",\"payload\":'   + MQTT_PUBLISH_PAYLOAD + '}';\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":420,"wires":[["81188b7e.d3bd6"]]},{"id":"55d5f272.4c1b64","type":"mqtt in","z":"81db9ec4.75f3f","name":"receive our own publish","topic":"/polimi/iot2023/challenge2/10684602","qos":"2","broker":"2d206e54.5e71ea","x":140,"y":560,"wires":[["d1ceb36e.b699d"]]},{"id":"d1ceb36e.b699d","type":"function","z":"81db9ec4.75f3f","name":"set START flag","func":"if(msg.payload === \"START\")\n    global.set(\"START\", true);\nelse if(msg.payload === \"END\")\n    return null;\nelse\n    return msg;","outputs":1,"noerr":0,"x":390,"y":560,"wires":[["4649b208.0af3d4"]]},{"id":"81814ff0.153a88","type":"inject","z":"81db9ec4.75f3f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["b1cc880b.a8d088"]]},{"id":"57899a60.7fadfc","type":"exec","z":"81db9ec4.75f3f","command":"mosquitto_pub -h broker.hivemq.com -p 1883 -q 2 -m START -t /polimi/iot2023/challenge2/10684602","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"send START message","x":570,"y":200,"wires":[[],[],[]]},{"id":"b1cc880b.a8d088","type":"function","z":"81db9ec4.75f3f","name":"set global variables","func":"//set the csv file to null\nglobal.set(\"file\", null);\n\n//set counter to 0\nglobal.set(\"counter\", 0);\n\n//set START flag to false\nglobal.set(\"START\", false);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["be996e94.caccb"]]},{"id":"7e082416.59ee6c","type":"function","z":"81db9ec4.75f3f","name":"set csv file","func":"global.set(\"file\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["57899a60.7fadfc"]]},{"id":"1274c201.3456de","type":"csv","z":"81db9ec4.75f3f","name":"create array of msg","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":140,"y":200,"wires":[["7e082416.59ee6c"]]},{"id":"9ac90d8a.2e3218","type":"function","z":"81db9ec4.75f3f","name":"filter Celsius","func":"if(msg.payload.payload.unit == \"C\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":100,"y":640,"wires":[["3a3d50a8.066f28","7eb9c966.296ed8"]]},{"id":"4649b208.0af3d4","type":"json","z":"81db9ec4.75f3f","name":"parse payload","property":"payload","action":"","pretty":false,"x":600,"y":560,"wires":[["9ac90d8a.2e3218"]]},{"id":"126cd552.800f9b","type":"ui_chart","z":"81db9ec4.75f3f","name":"temperature chart","group":"44fcb118.b2e1b","order":0,"width":0,"height":0,"label":"temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":520,"y":640,"wires":[[],[]]},{"id":"3a3d50a8.066f28","type":"function","z":"81db9ec4.75f3f","name":"extract range","func":"msg.payload = msg.payload.payload.range[1];\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":640,"wires":[["126cd552.800f9b"]]},{"id":"7eb9c966.296ed8","type":"json","z":"81db9ec4.75f3f","name":"create json","property":"payload","action":"","pretty":false,"x":430,"y":720,"wires":[["69114b2e.03ce14"]]},{"id":"69114b2e.03ce14","type":"join","z":"81db9ec4.75f3f","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":850,"y":720,"wires":[["e5f85a5d.8d45c8"]]},{"id":"26b73269.fef72e","type":"function","z":"81db9ec4.75f3f","name":"check end condition","func":"if(msg.payload == \"END\"){\n    msg.complete = true;\n    msg.payload = \"\";\n    return msg;\n}","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["69114b2e.03ce14","69b8c834.c6c0f8"]]},{"id":"69b8c834.c6c0f8","type":"exec","z":"81db9ec4.75f3f","command":"mosquitto_pub -h broker.hivemq.com -p 1883 -q 2 -m END -t /polimi/iot2023/challenge2/10684602","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"send END message","x":870,"y":300,"wires":[[],[],[]]},{"id":"75360f71.d42558","type":"mqtt in","z":"81db9ec4.75f3f","name":"random id gen","topic":"polimi/challenge_2/2023/id_code_generator/3","qos":"2","broker":"2d206e54.5e71ea","x":120,"y":360,"wires":[["9b6ecf07.b72918"]]},{"id":"e5f85a5d.8d45c8","type":"file","z":"81db9ec4.75f3f","name":"create csv","filename":"/home/user/result.csv","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1010,"y":720,"wires":[[]]},{"id":"2d206e54.5e71ea","type":"mqtt-broker","z":"","name":"hivemq","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"44fcb118.b2e1b","type":"ui_group","z":"","name":"Default","tab":"f1a4c78b.7cfa88","disp":true,"width":"6","collapse":false},{"id":"f1a4c78b.7cfa88","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
